*{
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}
 body{
     margin:0;
     padding:0;
     background-color: pink;
}
 h1{
     text-align: center;
     margin: 40px auto;
     font-size: 50px;
}
 h2{
     text-align:right;
     font-size:36px;
}
 .container-fluid{
     width: 100%;
     margin: 0 auto;
     max-width: 1000px;
}
 .container{
     max-width: 500px;
     width: 50%;
     float: left;
     margin: 0 auto;
     border: none;
     padding: 20px;
}
 fieldset{
     padding: 20px;
     margin: 20px 0;
     border: 3px solid white;
     font-size: 16px;
}
 legend{
     margin-left: 20px;
     font-size: 22px;
}
 input{
     width: auto;
     margin: 8px;
     padding: 5px;
     font-size: 18px;
}
 h3{
     margin: 5px 0;
}
button{
    width: 100px;
    height: 50px;
    background-color: blue;
    font-size: 16px;
    color: white;
    border-radius: 20px;
}
 table{
     width: 100%;
     margin-top: 20px;
     border: none;
     text-align: center;
}
}
 table td,table th{
     padding: 5px;
     margin: 0;
     border: 1px solid #000000;
}
 table tr td:last-child{
     text-align: right;
}
 ul li{
     padding: 5px;
     margin: 10px 0;
}